body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: purple;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkviolet;
}